<% include('../layouts/header') %>

<h1>Edit User</h1>

<form action="/admin/edit-user" method="post">
    <input type="name" name="name" placeholder="Enter Name" value="<%= user.name %>" required pattern="^(\w\w+)\s(\w+)$">
    <br><br>
    <input type="email" name="email" placeholder="Enter Email" value="<%= user.email %>" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
    <br><br>
    <input type="mobile" name="mobile" placeholder="Enter mobile" value="<%= user.mobile %>" required pattern="^([0|\+[0-9]{1,5})?([7-9][0-9]{9})$">
    <br><br>
    <input type="hidden" name="id" value="<%= user._id %>">
    <input type="submit" name="user_id" value="Update user">
</form>

<a href="/admin/dashboard">Go Dashboard</a>

<% include('../layouts/footer') %>