<% include('../layouts/header.ejs') %>

<h1>Add New User</h1>

<form action="/admin/new-user" method="post">
    <input type="text" name="name" placeholder="Enter Name" required pattern="^(\w\w+)\s(\w+)$">
    <br></br>
    <input type="text" name="email" placeholder="Enter Email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
    <br></br>
    <input type="text" name="mobile" placeholder="Enter Mobile Number" required pattern="^([0|\+[0-9]{1,5})?([7-9][0-9]{9})$">
    <br></br>
    <input type="password" name="password" placeholder="Enter Password" required pattern="^[^\s]*$">
    <br></br>
    <input type="submit" value="Register">
</form>



<% if(typeof message !== 'undefined'){
    %>
    <p style="color: green;"><%= message %></p>
    <%
} %>

<br>
<a href="/admin/dashboard">go back</a>


<% include('../layouts/footer.ejs') %>